body {
	margin: 0px;
	background-color: #ddd;
	font: 14px Verdana, sans-serif;
}

div.topbar {
	height: 25px;
	background-color: #444;
	text-align: right;
}

div.topbar a {
	color: #fff;
	text-decoration: none;
	position: relative;
	top: 3px;
	right: 30px;
}

div.topbar span {
	color: #888;
	position: relative;
	top: 3px;
	right: 30px;
}

div.headerbar {
	height: 121px;
	background-image: url("images/headerbg.png");
}

h1.logo {
	width: 284px; height: 50px;
	background: url("images/logo.png") no-repeat;
	font-size: 1px;
	color: white;
	position: relative;
	top: 30px;
	left: 100px;
}

h2 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	font-weight: normal;
	padding-left: 50px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

div.contentshadow {
	background-image: url("images/contentshadow.png");
	background-position: top;
	background-repeat: repeat-x;
	height: 30px;
}

div.content {
	background-color: #fffef8;
	background-image: url("images/contentbg.png");
	background-position: right;
	background-repeat: no-repeat;
	height: 423px;
}

div.content2 {
	background-color: #fffef8;
	background-image: url("images/contentbg.png");
	background-position: right;
	background-repeat: no-repeat;
}

div.paddinged {
	padding-bottom: 20px;
}

form.login {
	width: 350px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #ddd;
	margin-top: 90px;
}

form.manager {
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	width: 340px;
}

input {
	border: 1px solid #ddd;
	width: 220px;
}

div.editor {
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px #ddd;
	text-align: center;
	margin-bottom: 20px;
}

.button {
	width: 200px;
	height: 45px;
	background-image: url("images/button.png");
	background-color: transparent;
	border: 0px;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

.centered {
	text-align: center;
}

.label {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}
